body {
  background-color: whitesmoke;
}

.kanban-layout-body {
  margin: 1.5rem;
}

header {
  width: 100%;
  height: 60px;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
